@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1160px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}

.pink {
  background-color: #feafc3;
}

.blue {
  background-color: #69a9ff;
}

.yellow {
  background-color: #fcc850;
}

.main-container {
  margin: auto;
  width: 1170px;
}

.undecorated-link {
  text-decoration: none;
  color: #2D3440;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  display: none;
}

.list-default-style-disabled {
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tooltip-catalog {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 2;
  padding: 16px 16px 14px 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 76px;
  left: 153px;
}

.tooltip-catalog-close {
  display: none;
}

.line-catalog {
  width: 100%;
  border: 1px solid #e7e7e7;
  margin: 12px 0 10px 0;
}

.icecream-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.icecream-1,
.icecream-2,
.icecream-3,
.icecream-4 {
  font-size: 14px;
}

.tooltip-search {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 2;
  padding: 23px 24px;
  top: 76px;
  left: 579px;
}

.tooltip-search-close {
  display: none;
}

.personal-account {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 2;
  padding: 48px 48px 52px 48px;
  display: flex;
  flex-direction: column;
  top: 76px;
  right: 132px;
}

.personal-account-close {
  display: none;
}

.account-form,
.forgot-password {
  display: flex;
  flex-direction: column;
}

.account-entrance {
  display: flex;
  gap: 23px;
}

.forgot-password-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2d3440;
}

.tooltip {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 48px;
  top: 76px;
  right: 0;
}

.tooltip-close {
  display: none;
}

.delete {
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
}

.image-name {
  display: flex;
}

.tooltip-product {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.tooltip-img {
  width: 46px;
  height: 46px;
  margin-right: 16px;
}

.product-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.product-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: #b9b9b9;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.line {
  width: 100%;
  border: 1px solid #e7e7e7;
  margin: 13px 0 25px 0;
}

.tooltip-basket {
  display: flex;
  gap: 32px;
}

.basket-empty {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 2;
  padding: 48px 28px;
  top: 76px;
  right: 0;
  text-align: center;
}

.basket-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.basket-empty-close {
  display: none;
}

.logo {
  margin-right: 14px;
  margin-top: 24px;
}

.navigation-left {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  margin: 31px 0 24px 0;
  width: 582px;
}

.navigation-left-menu {
  margin-bottom: 10px;
  margin-top: 10px;
}

.phone-number {
  font-weight: 700;
  padding: 8px 0;
  border: 2px solid transparent;
}

.phone-number:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  border: 2px solid transparent;
}

.phone-number:active {
  background-color: #fcfcfc;
  border-radius: 30px;
  border: 2px solid transparent;
}

.phone-number:focus {
  border: 2px solid #2d3440;
  border-radius: 30px;
  outline: none;
}

.navigation-right {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 0;
  align-items: center;
  margin-top: 23px;
}

.navigation-right-menu-search {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.3);
  width: 32px;
  height: 32px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.icon-search {
  padding: 9px;
}

.entrance,
.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  font-size: 14px;
}

.navigation-right-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-right-link:active {
  background-color: #fcfcfc;
}

.navigation-right-link:focus {
  border: 2px solid #000000;
  outline: none;
}

.navigation-left-link {
  padding: 8px 18px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.navigation-left-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 8px 18px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.navigation-left-link:active {
  background-color: #fcfcfc;
  padding: 8px 18px;
  border-radius: 30px;
}

.navigation-left-link:focus {
  border: 2px solid #2d3440;
  border-radius: 30px;
  padding: 8px 18px;
  outline: none;
}

.catalog:hover {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 8px 32px 8px 16px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.catalog:active {
  background-color: #fcfcfc;
  padding: 8px 32px 8px 16px;
  border-radius: 30px;
}

.catalog:focus {
  border: 2px solid #2d3440;
  border-radius: 30px;
  padding: 8px 32px 8px 16px;
  outline: none;
}

.catalog {
  padding: 8px 32px 8px 16px;
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  background-image: url(../images/catalog_arrow.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 16px;
  height: 16px;
  right: 6px;
  top: 16px;
}

.navigation-right-menu {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance-item,
.basket-item {
  min-width: 88px;
  height: 32px;
}

.icon-entrance,
.icon-basket {
  margin-right: 6px;
}

.basket-item {
  min-width: 115px;
}

.main-screen {
  display: flex;
  align-items: center;
  padding-top: 21px;
  min-height: 554px;
  margin-bottom: 57px;
  position: relative;
  margin-top: 8px;
}

.main-screen-close {
  display: none;
}

.main-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin: 87px 0 24px 69px;
}

.main-screen-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 55px 69px;
}

.main-screen-left {
  width: 500px;
}

.main-screen-right {
  display: flex;
  align-items: center;
  margin-top: -48px;
  position: absolute;
  margin-left: 521px;
  gap: 30px;
}

.main-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin-top: 128px;
  margin-bottom: 0;
}

.pagination-button {
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  background-color: #fcfcfc;
  border-radius: 50%;
  opacity: 0.3;
  box-sizing: border-box;
}

.pagination-button:hover {
  border: 1px solid #fcfcfc;
}

.pagination-button:active {
  opacity: 0.3;
}

.pagination-button:focus {
  border: 1px solid #2d3440;
  outline: none;
}

.pagination-button-current {
  opacity: 1;
}

.white-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  padding: 12px 32px;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  background-clip: padding-box;
  box-sizing: border-box;
  border: none;
}

.white-button-first {
  margin-left: 70px;
}

.white-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}

.white-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.white-button:focus {
  outline: 2px solid #2d3440;
}

.white-button:disabled {
  background-color: #e7e7e7;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.main-ice-cream {
  display: flex;
  align-items: center;
}

.main-screen-arrow {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  color: #fcfcfc;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: relative;
  right: -20px;
  cursor: pointer;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-next {
  transform: rotate(180deg);
  position: relative;
  right: 18px;
}

.main-screen-arrow:hover {
  background-color: #fcfcfc;
  color: #000000;
}

.main-screen-arrow:active {
  background-color: rgba(252, 252, 252, 0.5);
  color: #000000;
}

.main-screen-arrow:focus {
  background-color: rgba(252, 252, 252, 0.5);
  color: #000000;
  border: 2px solid #2d3440;
  outline: none;
}

.main-screen-arrow:disabled {
  opacity: 0.4;
}

.main-photo {
  background-color: #ffcbd8;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.mini-ice-cream {
  background-color: #ffcbd8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 22px;
  right: 0;
}

.social-media-link {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: block;
  background-clip: padding-box;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.social-media-link:hover {
  background-color: #000000;
}

.social-media-link:active {
  opacity: 0.5;
  background-color: #000000;
}

.social-media-link:focus-visible {
  background-color: #000000;
  border: 2px solid #2d3440;
  outline: none;
}

.second-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 55px 0;
}

.gifts {
  margin-bottom: 52px;
}

.gifts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gifts-item {
  background-color: #ff7799;
  border-radius: 16px;
  padding: 39px 0 48px 0;
  margin-bottom: 30px;
}

.first-gift {
  background-image: url(../images/raspberry.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 30px;
  width: 570px;
}

.second-gift {
  background-image: url(../images/marshmellow.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 570px;
}

.button-gifts {
  margin-left: 36px;
}

.third-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 28px 0;
}

.gift-title {
  margin-left: 35px;
}

.news-title-text {
  margin: 0;
  max-width: 333px;
}

.main-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.gifts-text {
  margin-bottom: 42px;
  margin-left: 36px;
  max-width: 322px;
}

.try-icecream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.fourth-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0 0 8px 0;
}

.try-text {
  text-align: center;
  margin: 0 0 19px 0;
}

.icecream-card {
  background-color: #fcfcfc;
  padding: 0 40px 25px;
  border-radius: 8px;
  width: 190px;
  margin-bottom: 80px;
}

.try-title {
  margin-top: -43px;
}

.try-title-text {
  margin-bottom: 107px;
}

.icecream-card-first,
.icecream-card-second,
.icecream-card-third,
.icecream-card-fourth,
.icecream-card-fifth,
.icecream-card-sixth,
.icecream-card-seventh,
.icecream-card-eigth,
.icecream-card-ninth,
.icecream-card-tenth,
.icecream-card-eleventh,
.icecream-card-twelfth {
  position: relative;
  margin-bottom: 83px;
}

.icecream {
  position: relative;
  top: -54px;
  left: 10px;
}

.icecream-price {
  text-align: left;
  margin: 0;
}

.try-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pink-circle-button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #ff2f64;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pink-circle-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
  color: #000000;
}

.pink-circle-button:active {
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
  color: #000000;
}

.pink-circle-button:focus {
  border: 2px solid #000000;
}

.pink-circle-button:focus-visible {
  outline: none;
}

.shop {
  background-image: url(../images/waffle.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 84px;
}

.shop-text {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 56px 40px;
}

.shop-text-description {
  display: flex;
  flex-wrap: wrap;
}

.main-text-shop {
  margin-left: 64px;
  margin-bottom: 45px;
  max-width: 442px;
}

.shop-cow {
  margin-left: 101px;
}

.shop-temperature {
  margin-left: 107px;
}

.shop-icecream,
.shop-cow,
.shop-leaf,
.shop-temperature {
  position: relative;
}

.shop-icecream::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon_ice_cream.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.shop-cow::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon_cow.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.shop-leaf::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon_leaf.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.shop-temperature::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon_temperature.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.news {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

.news-title {
  background-image: url(../images/news_bacground.jpg);
  border-radius: 16px;
  padding: 32px 0 67px 32px;
  width: 570px;
}

.news-sign-up-text {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 26px;
  width: 507px;
}

.news-text {
  margin-bottom: 12px;
}

.news-sign-up {
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  padding: 6px;
  border-radius: 16px;
}

.sign-up-text {
  margin-bottom: 45px;
}

.sign-up {
  display: flex;
  gap: 14px;
}

.button-pink {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  padding: 12px 32px;
  background-color: #ff2f64;
  color: #ffffff;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  cursor: pointer;
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  background-clip: padding-box;
  box-sizing: border-box;
  border: none;
}

.button-pink:hover {
  background-color: #fcfcfc;
  outline: 4px solid #ff2f64;
  color: #000000;
}

.button-pink:active {
  background-color: #feafc3;
  outline: 2px solid #2d3440;
}

.button-pink:focus {
  outline: 2px solid #2d3440;
}


.button-pink:disabled {
  background-color: #b9b9b9;
  border: 4px solid rgba(185, 185, 185, 0.3);
}

.field {
  background-color: transparent;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  width: 308px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-clip: padding-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

.field-email,
.field-password {
  margin: 0 0 16px 0;
  width: 325px;
}

.field-password {
  margin: 0 0 32px 0;
}

.sign-up-field {
  width: 333px;
  margin-right: 4px;
}

.field:hover {
  outline: 1px solid #2d3440;
  color: #000000;
}

.field:active {
  color: #000000;
}

.field:focus {
  outline: 2px solid #2d3440;
}

.field:disabled {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
  color: #2d3440;
}

.delivery {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  background-image: url(../images/delivery_background.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 67px 64px 64px 100px;
  background-size: cover;
}

.second-title-text {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-main-text {
  width: 371px;
}

.delivery-text {
  margin-right: 135px;
}

.delivery-action {
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px 40px 42px 40px;
  width: 500px;
}

.delivery-action-text {
  margin-bottom: 32px;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.date-field {
  width: 117px;
  display: flex;
  margin: 8px 0 0 0;
}

.date-phone {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.phone-field {
  width: 286px;
  display: flex;
  margin: 8px 0 0 0;
}

.date-field-text,
.phone-field-text,
.address-field-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.address-field {
  display: flex;
  margin: 8px 0 32px 0;
  width: 420px;
}

.contacts {
  background-image: url(../images/contacts_bacground.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px;
  background-size: cover;
}

.contacts-info {
  background-color: #fcfcfc;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  display: flex;
  flex-direction: column;
  width: 304px;
  padding: 40px 0 40px 40px;
}

.fourth-title-text {
  text-align: left;
  margin: 0;
  width: 194;
}

.small-text {
  margin: 0 0 29px 0;
  width: 202px;
}

.contacts-text {
  margin-bottom: 12px;
  width: 212px;
}

.address {
  margin: 0 0 24px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 263px;
}

.contacts-button {
  width: 250px;
}

.footer-info,
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-info {
  padding: 48px 3px 48px 4px;
  align-items: start;
}

.footer-social-list {
  gap: 13px;
  padding: 0;
  margin: 0 279px 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 110px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.social-link:hover {
  background-color: #000000;
}

.social-link:active {
  opacity: 0.5;
  background-color: #000000;
}

.social-link:focus {
  background-color: #000000;
  border: 2px solid #2d3440;
  outline: none;
}

.footer-menu {
  width: 413px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 15px;
  margin-right: 79px;
  row-gap: 3px;
}


.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 2px solid transparent;
}

.footer-link:hover {
  opacity: 0.3;
}

.footer-link:active {
  opacity: 0.6;
}

.footer-link:focus {
  border-radius: 30px;
  border: 2px solid #2d3440;
  outline: none;
}

.footer-link-bold {
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
}

.heart {
  position: absolute;
  z-index: 2;
  left: -25px;
}

.html-logo {
  margin: 0;
}

.footer-small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.link-academy {
  color: #2d3440;
  margin-top: 14px;
}

.link-academy:hover {
  opacity: 0.6;
}

.link-academy:active {
  opacity: 0.3;
}

.academy-link {
  border: 2px solid transparent;
  border-radius: 30px;
  height: 27px;
  display: block;
  width: 105px;
}

.academy-link:hover {
  opacity: 0.6;
  border: 2px solid transparent;
}

.academy-link:active {
  opacity: 0.3;
  border: 2px solid transparent;
}

.academy-link:focus {
  border: 2px solid #2d3440;
  outline: none;
  border-radius: 30px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal-content {
  margin: auto;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  padding: 64px 64px 0 64px;
  position: relative;
}

.modal-tytle {
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
}

.modal-close {
  position: relative;
}

.modal-button {
  position: absolute;
  right: -38px;
  top: -36px;
  background-color: transparent;
  border: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 442px;
}

.modal-field {
  width: 442px;
  margin: 0;
  color: #b9b9b9;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.modal-text {
  padding: 24px 0 126px 15px;
  margin-bottom: 138px;
}

.modal-btn {
  min-width: 152px;
  position: absolute;
  right: 64px;
  bottom: 63px;
}

.catalog-menu {
  margin-bottom: 50px;
}

.breadcrumb-link-active {
  border-bottom: 1px solid #2d3440;
}

.breadcrumb-link-arrow {
  position: relative;
}

.icecream-card-catalog {
  margin-bottom: 94px;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.breadcrumb-link-arrow::after {
  content: "";
  position: relative;
  background-image: url(../images/br_arrow.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 6px;
  top: -12px;
  left: 66px;
  display: block;
}

.filters {
  margin-bottom: 95px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 41px;
}

.breadcrumb-link:hover {
  opacity: 0.3;
}

.breadcrumb-link:active {
  opacity: 0.6;
}

.breadcrumb-link:focus {
  border-bottom: 1px solid #2d3440;
  outline: none;
}

.form-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.filter-first {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.select,
.filer-field,
.form-label-field {
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.select {
  width: 195px;
  margin-left: -16px;
  color: #2d3440;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-before {
  position: relative;
}

.select-before::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../images/select_arrow.svg);
  background-repeat: no-repeat;
  top: 44px;
  left: 153px;
}

.range-filter {
  position: relative;
}

.range {
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  width: 196px;
  height: 36px;
  margin-top: 7px;
}

.range-line {
  border: 2px solid #565c66;
  width: 164px;
  display: flex;
  opacity: 0.3;
  position: absolute;
  top: 42px;
  left: 15px;
  border-radius: 5px;
}

.range-line-active {
  border: 2px solid #565c66;
  display: flex;
  position: absolute;
  top: 42px;
  width: 56px;
  left: 54px;
}

.circle-first {
  position: absolute;
  top: 35px;
  left: 40px;
  z-index: 1;
}

.circle-second {
  position: absolute;
  top: 35px;
  left: 112px;
}

.fatness-field {
  padding: 10px 24px;
}

.form-label-fatness {
  line-height: 20px;
}

.flavors {
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 24px;
  border-radius: 18px;
  gap: 16px;
}

.filter-second p {
  margin: 0 0 10px 0;
}

.filter-first p {
  margin: 0 0 4px 0;
  padding-left: 16px;
}

.fatness {
  display: flex;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 24px;
  border-radius: 18px;
  margin-top: 5px;
  gap: 17px;
}

.form-group,
.form-group-fat {
  display: flex;
  font-size: 14px;
}

.form-group-fat input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-fat label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.form-group label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.form-group-fat label::before {
  content: "";
  -webkit-appearance: none;
  background-image: url(../images/radio.svg);
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.form-group label::before {
  content: "";
  -webkit-appearance: none;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.form-group-fat input:checked + label::before {
  background-image: url(../images/radio_on.svg);
  background-repeat: no-repeat;
}

.form-group input:checked + label::before {
  background-image: url(../images/check_on.svg);
  background-repeat: no-repeat;
}

.filter-second {
  display: flex;
  align-items: end;
}

.done {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  padding: 8px 48px;
  height: fit-content;
  margin-left: 21px;
}

.done:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.done:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid transparent;
  padding: 8px 52px;
}

.done:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  padding: 8px 52px;
}

.done:disabled {
  opacity: 0.4;
}

.icecream-card-fifth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream5.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-sixth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream6.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-seventh::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream7.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-eigth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream8.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-ninth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream9.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-tenth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream10.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-eleventh::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream11.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-twelfth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream12.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.try-icecream-lastshow {
  margin-bottom: -34px;
}

.show-more {
  text-align: center;
  margin-bottom: 79px;
  position: relative;
}

.pagination-catalog {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0;
  position: absolute;
  right: 3px;
  top: 10px;
}

.pagination-link {
  padding: 2px 7px;
  text-decoration: none;
  color: #2d3440;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 6px;
  line-height: 20px;
}

.pagination-link:hover {
  padding: 2px 7px;
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  padding: 2px 7px;
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
}

.pagination-link:focus {
  padding: 2px 7px;
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #2d3440;
}

.pagination-link:focus-visible {
  outline: none;
}

.number {
  padding: 0;
  list-style-type: none;
}

.number-active {
  background-color: #fcfcfc;
  border-radius: 50%;
}

.pagination-arrow {
  padding: 0;
  margin-left: 14px;
  list-style-type: none;
}

.pagination-arrow-disable {
  opacity: 0.3;
  margin-right: 14px;
}
