@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1160px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}

.pink {
  background-color: #FEAFC3;
}

.blue {
  background-color: #69A9FF;
}

.yellow {
  background-color: #FCC850;
}

.main-screen-close {
  display: none;
}

.main-container {
  margin: auto;
  width: 1170px;
}

.undecorated-link {
  text-decoration: none;
  color: #2D3440;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  display: none;
}

.list-default-style-disabled {
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-left {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  align-items: center;
  margin: 24px 0 24px 0;
}

.phone-number {
  font-weight: 700;
  padding: 8px 16px;
  border: 2px solid transparent;
}

.phone-number:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  padding: 8px 16px;
  border: 2px solid transparent;
}

.phone-number:active {
  background-color: #FCFCFC;
  border-radius: 30px;
  padding: 8px 16px;
  border: 2px solid transparent;
}

.phone-number:focus {
  border: 2px solid #2D3440;
  border-radius: 30px;
  padding: 8px 16px;
  outline: none;
}

.navigation-right {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 0;
  align-items: center;
}

.navigation-right-menu-search {
  display: flex;
  width: 32px;
  height: 32px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.3);
  width: 32px;
  height: 32px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.icon-search {
  padding: 9px;
}

.entrance, .basket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.navigation-right-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-right-link:active {
  background-color: #FCFCFC;
}

.navigation-right-link:focus {
  border: 2px solid #000000;
  outline: none;
}

.navigation-left-link {
  padding: 8px 16px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.navigation-left-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 8px 16px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.navigation-left-link:active {
  background-color: #FCFCFC;
  padding: 8px 16px;
  border-radius: 30px;
}

.navigation-left-link:focus {
  border: 2px solid #2D3440;
  border-radius: 30px;
  padding: 8px 16px;
  outline: none;
}

.catalog:hover {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 8px 38px 8px 16px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.catalog:active {
  background-color: #FCFCFC;
  padding: 8px 38px 8px 16px;
  border-radius: 30px;
}

.catalog:focus {
  border: 2px solid #2D3440;
  border-radius: 30px;
  padding: 8px 38px 8px 16px;
  outline: none;
}

.catalog {
  padding: 8px 38px 8px 16px;
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  background-image: url(/images/catalog_arrow.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 16px;
  height: 16px;
  right: 6px;
  top: 16px;
}

.navigation-right-menu {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance-item, .basket-item {
  min-width: 88px;
  height: 32px;
}

.icon-entrance, .icon-basket {
  margin-right: 6px;
}

.basket-item {
  min-width: 115px;
}

.main-screen {
  display: flex;
  align-items: center;
  padding-top: 21px;
  min-height: 554px;
  margin-bottom: 80px;
  position: relative;
}

.main-screen-close {
  display: none;
}

.main-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 800;
  margin: 136px 0 24px 0;
}

.main-screen-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 46px 0;
}

.main-screen-left {
  width: 470px;
}

.main-screen-right {
  display: flex;
  align-items: center;
  margin-top: -70px;
  position: absolute;
  margin-left: 487px;
}

.main-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin-top: 126px;
  margin-bottom: 0;
}

.pagination-button {
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  background-color: #FCFCFC;
  border-radius: 50%;
  opacity: 0.3;
  box-sizing: border-box;
}

.pagination-button:hover {
  border: 1px solid #FCFCFC;
}

.pagination-button:active {
  opacity: 0.3;
}

.pagination-button:focus {
  border: 1px solid #2D3440;
  outline: none;
}

.pagination-button-current {
  opacity: 1;
}

.white-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  padding: 0 32px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  background-clip: padding-box;
  height: 50px;
}

.white-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
}

.white-button:active {
  background-color: #FCFCFC;
  border: 2px solid #2D3440;
  padding: 0 34px;
}

.white-button:focus {
  border: 2px solid #2D3440;
  padding: 0 34px;
}

.white-button:focus-visible {
  outline: none;
}

.white-button:disabled {
  background-color: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.main-ice-cream {
  display: flex;
  align-items: center;
}

.main-screen-arrow {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  color: #FCFCFC;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: relative;
  right: -16px;
  cursor: pointer;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-next {
  transform: rotate(180deg);
  position: relative;
  right: 18px;
}

.main-screen-arrow:hover {
  background-color: #FCFCFC;
  color: #000000;
}

.main-screen-arrow:active {
  background-color: rgba(252, 252, 252, 0.5);
  color: #000000;
}

.main-screen-arrow:focus {
  background-color: rgba(252, 252, 252, 0.5);
  color: #000000;
  border: 2px solid #2D3440;
  outline: none;
}

.main-screen-arrow:disabled {
  opacity: 0.4;
}

.main-photo {
  background-color: #FFCBD8;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.mini-ice-cream {
  background-color: #FFCBD8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 41px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.social-media-link {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: block;
}

.social-media-link {
  width: 24px;
  height: 24px;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.social-media-link:hover {
  background-color: #000000;
}

.social-media-link:active {
  opacity: 0.5;
  background-color: #000000;
}

.social-media-link:focus-visible {
  background-color: #000000;
  border: 2px solid #2D3440;
  outline: none;
}

.second-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 55px 0;
}

.gifts {
  margin-bottom: 80px;
}

.gifts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.gifts-item {
  background-color: #FF7799;
  border-radius: 16px;
  padding: 36px 218px 0 36px;
}

.first-gift {
  background-image: url(/images/raspberry.png);
  background-repeat: no-repeat;
  background-position: right;
}

.second-gift {
  background-image: url(/images/marshmellow.png);
  background-repeat: no-repeat;
  background-position: right;
}

.button-gifts {
  margin-bottom: 30px;
}

.third-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 28px 0;
}

.news-title-text {
  margin: 0;
}

.main-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.gifts-text {
  margin-bottom: 28px;
}

.try-icecream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 80px 0;
}

.fourth-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0 0 8px 0;
}

.try-text {
  text-align: center;
  margin: 0 0 16px 0;
}

.icecream-card {
  background-color: #FCFCFC;
  padding: 133px 40px 24px 40px;
  border-radius: 8px;
  width: 190px;
}

.try-title-text {
  margin-bottom: 107px;
}

.icecream-card-first, .icecream-card-second, .icecream-card-third, .icecream-card-fourth,
.icecream-card-fifth, .icecream-card-sixth, .icecream-card-sixth, .icecream-card-seventh,
.icecream-card-eigth, .icecream-card-ninth, .icecream-card-tenth, .icecream-card-eleventh,
.icecream-card-twelfth {
  position: relative;
}

.icecream-card-first::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream1.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-second::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream2.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-third::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream3.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-fourth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream4.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-price {
  text-align: left;
  margin: 0;
}

.try-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pink-circle-button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #FF2F64;
  color: #FCFCFC;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pink-circle-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
  color: #000000;
}

.pink-circle-button:active {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
  color: #000000;
}

.pink-circle-button:focus {
  border: 2px solid #000000;
}

.pink-circle-button:focus-visible {
  outline: none;
}

.shop {
  background-image: url(/images/waffle.png);
  background-repeat: no-repeat;
  background-size: cover
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}

.shop-text {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.shop-text-description {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.main-text-shop {
  margin-left: 64px;
}

.shop-icecream, .shop-cow, .shop-leaf, .shop-temperature {
  position: relative;
}

.shop-icecream::before {
  content: "";
  position: absolute;
  background-image: url(/images/icon_ice_cream.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.shop-cow::before {
  content: "";
  position: absolute;
  background-image: url(/images/icon_cow.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.shop-leaf::before {
  content: "";
  position: absolute;
  background-image: url(/images/icon_leaf.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.shop-temperature::before {
  content: "";
  position: absolute;
  background-image: url(/images/icon_temperature.png);
  background-repeat: no-repeat;
  z-index: 1;
  left: -64px;
  width: 48px;
  height: 48px;
}

.news {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

.news-title {
  background-image: url(/images/news_bacground.png);
  border-radius: 16px;
  padding: 32px 0 67px 32px;
  width: 570px;
}

.news-sign-up-text {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
  width: 507px;
}

.news-text {
  margin-bottom: 12px;
}

.news-sign-up {
  background-image: url(/images/pattern.png);
  background-repeat: no-repeat;
  padding: 6px;
  border-radius: 16px;
}

.sign-up-text {
  margin-bottom: 42px;
}

.button-pink {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  padding: 0 32px;
  height: 50px;
  background-color: #FF2F64;
  color: #FFFFFF;
  border: 4px solid rgba(255, 47, 100, 0.3);
  cursor: pointer;
  box-shadow: 0px 4px 12px rgb(45 52 64 / 10%);
  background-clip: padding-box;
}

.button-pink:hover {
  background-color: #FCFCFC;
  border: 4px solid #FF2F64;
  color: #000000;
}

.button-pink:active {
  background-color: #FEAFC3;
  border: 2px solid #2D3440;
  padding: 0 34px;
}

.button-pink:focus {
  border: 2px solid #2D3440;
  padding: 0 34px;
}

.button-pink:focus-visible {
  outline: none;
}

.button-pink:disabled {
  background-color: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
}

.field {
  background-color: transparent;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  width: 308px;
  padding-left: 16px;
  margin-right: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.field:hover {
  border: 1px solid #2D3440;
  color: #000000;
}

.field:active {
  color: #000000;
}

.field:focus {
  border: 2px solid #2D3440;
  outline: none;
}

.field:disabled {
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
  color: #2D3440;
}

.delivery {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  background-image: url(/images/delivery_background.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
}

.second-title-text {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-main-text {
  width: 371px;
}

.delivery-text {
  margin-right: 135px;
}

.delivery-action {
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px 40px 42px 40px;
  width: 500px;
}

.delivery-action-text {
  margin-bottom: 32px;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.date-field {
  width: 117px;
  display: flex;
  margin: 8px 0 0 0;
}

.date-phone {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.phone-field {
  width: 269px;
  display: flex;
  margin: 8px 0 0 0;
}

.date-field-text, .phone-field-text, .address-field-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.address-field {
  display: flex;
  margin: 8px 0 32px 0;
  width: 420px;
}

.contacts {
  background-image: url(/images/contacts_bacground.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px;
}

.contacts-info {
  background-color: #FCFCFC;
  border-radius: 16px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 343px;
  padding: 40px 0 40px 40px;
}

.fourth-title-text {
  text-align: left;
  margin: 0;
}

.small-text {
  margin: 0 0 32px 0;
}

.contacts-text {
  margin-bottom: 12px;
}

.address {
  margin: 0 0 24px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-button {
  width: 250px;
  padding: 0 20px;
}

.contacts-button:active {
  padding: 0 20px;
}

.contacts-button:focus {
  padding: 0 20px;
}

.footer-info, .footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-info {
  padding: 48px 14px 48px 4px;
  justify-content: space-between;
}

.footer-social-list {
  gap: 16px;
  padding: 0;
  margin: 0;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.social-link:hover {
  background-color: #000000;
}

.social-link:active {
  opacity: 0.5;
  background-color: #000000;
}

.social-link:focus {
  background-color: #000000;
  border: 2px solid #2D3440;
  outline: none;
}

.footer-menu {
  width: 413px;
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 2px solid transparent;
}

.footer-link:hover {
  opacity: 0.3;
}

.footer-link:active {
  opacity: 0.6;
}

.footer-link:focus {
  border-radius: 30px;
  border:  2px solid #2D3440;
  outline: none;
}

.footer-link-bold {
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
}

.heart {
  position: absolute;
  z-index: 2;
  left: -25px;
}

.html-logo {
  margin: 0;
}

.footer-small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.link-academy {
  color: #2D3440;
  margin-top: 14px;
}

.link-academy:hover {
  opacity: 0.6;
}

.link-academy:active {
  opacity: 0.3;
}

.academy-link {
  border:  2px solid transparent;
  border-radius: 30px;
  height: 27px;
  display: block;
  width: 105px;
}

.academy-link:hover {
  opacity: 0.6;
  border:  2px solid transparent;
}

.academy-link:active {
  opacity: 0.3;
  border:  2px solid transparent;
}

.academy-link:focus{
  border:  2px solid #2D3440;
  outline: none;
  border-radius: 30px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal-content {
  margin: auto;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  padding: 64px 64px 107px 64px;
  position: relative;
}

.modal-tytle {
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2D3440;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 442px;
}

.modal-field {
  width: 422px;
  margin: 0;
  color: #B9B9B9;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.modal-text {
  padding: 14px 0 115px 16px;
  margin-bottom: 32px;
}

.modal-btn {
  min-width: 152px;
  position: absolute;
  right: 64px;
  bottom: 64px;
}

.catalog-menu {
  margin-bottom: 40px;
}

.breadcrumb-link-active {
  border-bottom: 1px solid #2D3440;
}

.filters {
  margin-bottom: 95px;
}

.breadcrumb {
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.breadcrumb-link:hover {
  opacity: 0.3;
}

.breadcrumb-link:active {
  opacity: 0.6;
}

.breadcrumb-link:focus {
  border-bottom: 1px solid #2D3440;
  outline: none;
}

.form-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.filter-first {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.select, .filer-field, .form-label-field {
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.fatness-field {
  padding: 10px 24px;
}

.filter-second {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.done {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  padding: 8px 52px;
}

.done:hover {
  background-color: #FCFCFC;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.done:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid transparent;
  padding: 8px 52px;
}

.done:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
  padding: 8px 52px;
}

.done:disabled {
  opacity: 0.4;
}

.icecream-card-fifth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream5.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-sixth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream6.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-seventh:before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream7.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-eigth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream8.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-ninth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream9.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-tenth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream10.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-eleventh::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream11.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.icecream-card-twelfth::before {
  position: absolute;
  content: "";
  background-image: url(../images/try_ice_cream12.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 168px;
  top: -51px;
  left: 48px;
  z-index: 2;
}

.try-icecream-lastshow {
  margin-bottom: 57px;
}

.show-more {

}
